<div class="modal-container">
    <div class="modal">
        <hr />
        <h2>Timeline</h2>
        <div class="card">
            <div class="event" *ngFor="let pomodoro of pomodoros" [class.succeed]="pomodoro.succeed" [class.failed]="pomodoro.failed">
                <div class="tomato">
                    <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <g class="base-timer__circle">
                            <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45" />
                        </g>
                    </svg>
                    <div class="plant-container">
                        <img class="plant" src="../../../assets/tomato5.svg" />
                    </div>
                </div>
                <div class="info">
                    <span>
                        <i class="fa fa-clock"></i>
                        {{pomodoro.start | date: 'HH:mm dd MMM yyyy'}}
                    </span>
                    <span *ngIf="pomodoro.succeed && pomodoro.finish"> 
                        <i class="fa fa-circle-check"></i>
                        {{pomodoro.finish | date: 'HH:mm dd MMM yyyy'}}
                    </span>
                    <span *ngIf="pomodoro.failed && pomodoro.finish"> 
                        <i class="fa fa-circle-xmark"></i>
                        {{pomodoro.finish | date: 'HH:mm dd MMM yyyy'}}
                    </span>
                </div>
            </div>
            <button class="outlined-btn" [class.blocked]="page<=0" (click)="loadPage(page-1)">Prev</button>
            <button class="outlined-btn" [class.blocked]="page>=totalPages"  (click)="loadPage(page+1)">Next</button>
        </div>
        
        <div class="modal-buttons">
            <button class="outlined-btn" (click)="close()">Close</button>
        </div>
    </div>
</div>