<div class="modal-container">
    <div class="modal">
        <hr />
        <h2>Tags</h2>
        <div class="tag-card">
            <div class="tag" *ngFor="let tag of tags">
                <button class="tag-btn" (click)="choose(tag)">
                    <span class="tag-icon"><i class="fa fa-circle" [style]="'color:' + tag.color"></i></span> 
                    <span class="tag-name">{{ tag.name }}</span>
                </button>
                <button class="delete-btn" (click)="delete(tag)">
                    <i class="fa fa-close"></i>
                </button>
            </div>
        </div>
        <div class="card">
            <form id="form" [formGroup]="form">
                <div>
                    <label for="name">Name</label>
                </div>
                <input class="name" formControlName="name"/>
    
                <div>
                    <label for="color">Color</label>
                </div>
                <input class="color" formControlName="color" type="color" />
            </form>
            <button class="btn add-btn" [class.blocked]="form.invalid" (click)="add()">Add</button>
        </div>
        
        <div class="modal-buttons">
            <button class="outlined-btn" (click)="close()">Cancel</button>
        </div>
    </div>
</div>