@import '../css/modal.css';

.tag-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.tag {
	font-size: 12px;
	border: 1px solid #5db075;
	padding: 3px 5px;
	border-radius: 12px; 
	display: flex;
	align-items: center;
	margin-bottom: 5px;
    margin: 0 5px;
}

.tag-btn {
    cursor: pointer;
	border: none;
    background-color: transparent;
	display: flex;
	align-items: center;
}

.tag .tag-icon {
	font-size: 7px;
	color: currentColor;
	margin-right: 3px;
}

.tag .tag-name {
	margin-right: 3px;
}

.delete-btn {
    cursor: pointer;
	border: none;
    background-color: transparent;
    color: gray;
	font-size: 10px;
}

#form label {
    margin-bottom: 3px;
    color: #666;
    font-size: smaller;
}

#form input {
    margin-bottom: 7px;
    border-radius: 7px;
	width: 100%;
}

.card {
	display: flex;
	flex-direction: row;
	border-color: #689c78;
	border-radius: 15px;
	border-width: 1px;
	border-style: solid;
	padding-left:10px;
}

.add-btn {
	margin-left: 10px;
}