<div class="modal-container">
    <div class="modal">
        <hr />
        <h2>Garden</h2>
        <div class="card">
            <form [formGroup]="form" id="form">
                <div class="dates">
                  <span>
                    <div>
                      <label for="after">After</label>
                    </div>
                    <input type="date" formControlName="after">
                  </span>
                  <span>
                    <div>
                        <label for="before">Before</label>
                    </div>
                    <input type="date" formControlName="before">
                  </span>
                </div>
                <div class="bottom-form">
                  <button class="tag" (click)="openTag()">
                      <ng-container *ngIf="tag">
                        <span class="tag-icon"><i class="fa fa-circle" [style]="'color:' + tag.color"></i></span> 
                        <span class="tag-name">{{ tag.name }}</span>
                      </ng-container>
                      <ng-container *ngIf="!tag">
                        <span class="tag-icon"><i class="fa fa-circle"></i></span> 
                        <span class="tag-name">No tag</span>
                      </ng-container>
                    </button>
                  <button class="apply-btn" (click)="apply()">
                    <i class="fa fa-refresh"></i>
                    Apply changes
                  </button>
                </div>
              </form>

              <div class="counters">
                <div class="counter succeed">
                  <span class="counter-icon"><i class="fa fa-circle-check"></i></span>
                  <span class="count">{{succeed}}</span>
                </div>
                <div class="counter failed">
                  <span class="counter-icon"><i class="fa fa-circle-xmark"></i></span>
                  <span class="count">{{failed}}</span>
                </div>
              </div>
        </div>
        
        <div class="modal-buttons">
            <button class="outlined-btn" (click)="close()">Close</button>
        </div>
    </div>
</div>

<app-tag (closeEvent)="closeTag()" (choiceEvent)="changeTag($event)" [disableCreation]="true" *ngIf="showTag"></app-tag>
